# ==========================================
# BACKEND CONFIGURATION (NestJS)
# ==========================================
PORT=3000
DATABASE_URL="postgresql://postgres:123456@localhost:5432/brew_lite?schema=public"
JWT_SECRET="super-secret-jwt-key-brewlite-2026"
JWT_EXPIRES_IN="1d"

# ==========================================
# FRONTEND CONFIGURATION (Next.js)
# ==========================================
# Lưu ý: Next.js bắt buộc tiền tố NEXT_PUBLIC_ để biến có thể chạy được ở phía Client
NEXT_PUBLIC_API_URL="http://localhost:3001"